<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat-Da-Burger!</title>
		<!-- css -->
		<link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- javascript -->
		<script src="/public/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
		
		<footer class="Footer">
			<div class="footer-copyright">
				<div class="container">
					<span class="grey-text text-lighten-4">© 2019 TPLewis</span>
					<a class="grey-text text-lighten-3 right" href="https://github.com/Mugwumper">GitHub</a>
				</div>
			</div>
		</footer>
	</body>
</html>
