<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Eat-Da-Burger!</title>
		<!-- css -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery.js"></script>
		<!-- javascript -->
		<script src="/assets/js/burgers.js"></script>
		<!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</head>
	<body>
		{{{ body }}}
		
		<footer class="Footer">
			<div class="footer-copyright">
				<div class="container">
					<span class="grey-text text-lighten-4">© 2019 TPLewis</span>
					<a class="grey-text text-lighten-3 right" href="https://github.com/Mugwumper">GitHub</a>
				</div>
			</div>
		</footer>
	</body>
</html>
