:root {
  --main-bg-color:rgb(251, 250, 208); 
  --lite-bg-color:rgb(253, 240, 168); 
}

body {
  background-color:  var(--main-bg-color);  
}

.panel-default {
  background-color: var(--lite-bg-color);
  padding: 7px;
}

.panel-heading {
  background-color: var(--lite-bg-color);
}

h1, h2, h3 {
  color: #ff0000;
}

h1 {
  font-size: 24px;
}

#tagline {
  color: rgb(238, 68, 68);
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.burgerrow {
  margin: 10px;
  border-bottom-style: solid;
  border-color: red;
}